{% extends "main.html" %}
{% block content %}
<h1>404 - Not found</h1>
<script>

    // We have this redict because at the old documentation we had languages and now we don't and it's not possible to configure it at staticwebapp.config.json

    // Get the current URL
    var currentUrl = window.location.pathname;

    // Replace language prefix (e.g., /en/, /es/, etc.)
    var newUrl = currentUrl.replace(/^\/(en|es|pt|ja)\//, '/');

    // Redirect if necessary
    if (currentUrl !== newUrl) {
        window.location.replace(newUrl);
    } else {
        // Define a regular expression to match /YYYY/MM/slug pattern
        var regex = /^\/(\d{4})\/(\d{2})\/([^\/]+)\/?$/;
        var match = currentUrl.match(regex);

        if (match) {
            var year = match[1];
            var month = match[2];
            var slug = match[3];
            // Construct the new URL based on your site's structure
            var redirectUrl = '/' + year + '/' + slug + '/';
            window.location.replace(redirectUrl);
        }
    }
</script>
{% endblock %}