<!-- <div style="margin: auto .6rem;padding: .4rem 0;">
    <h4>Get Newsletter</h4>
    <div>
        <div id="mc_embed_signup">
            <form action="https://newsletter.devsense.com/subscription/form" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                <div class="input-group"><input type="email" value="" name="EMAIL" class="form-control email" id="mce-EMAIL" placeholder="Email news to me" required="">
                    <div style="position:absolute;left:-5000px"><input id="eae87" type="checkbox" name="l" checked="checked" value="eae87e6d-9c24-44ad-9ba5-998039565684" style="display:none"> <input id="aeed3" type="checkbox" name="l" checked="checked" value="aeed3aa0-48e2-40a0-b297-0480d71572f9" style="display:none"></div>
                    <div class="input-group-addon" style="padding:0"><button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default" style="margin:-1px;width:34px;height:34px"><i class="fa fa-chevron-right"></i></button></div>
                </div>
            </form>
        </div>
    </div>
</div> -->